* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #666;
  background-color: #fdfdfd;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  background: transparent;
  border: 1px solid #666;
  padding: 0 10px;
  border-radius: 4px;
  transition: all .3s ease;
}

button:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.logo {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.title {
  text-align: center;
  margin: 0;
}

.ControlBar {
  border: 1px solid #666;
  padding: 10px 0px;
  overflow: hidden;
  border-radius: 4px;
}

.ControlBar form {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.ControlBar button {
  font-size: 1em;
  padding: 5px 20px;
}

.ControlBar #partner-select {
  font-size: 1em;
  margin-left: 10px;
  width: 160px;
  border: 1px solid #666;
  border-radius: 4px;
  padding: 4px;
  appearance: none;
}

.ControlBar #username-input {
  font-size: 1em;
  margin-left: 10px;
  min-width: 180px;
  background-color: transparent;
  border: 1px solid #666;
  padding: 4px;
  border-radius: 4px;
}

.Conversations {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.ChatWindow {
  margin-top: 20px;
  flex: 0 1 48%;
  border: 1px solid #666;
  border-radius: 4px;
  overflow: hidden;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.chat-header h2 {
  margin: 0;
}
.chat-header button {
  width: 28px;
}

.chat-body {
  border-top: 1px solid #666;
  height: 200px;
  padding: 5px 10px;
  overflow: scroll;
}

.chat-input {
  border-top: 1px solid #666;
}

.chat-input #message {
  width: 100%;
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 1em;
  appearance: none;
}
