* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  background: transparent;
  border: 1px solid #666;
  padding: 0 10px;
  border-radius: 4px;
  transition: all .3s ease;
}

button:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.logo {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

h1 {
  text-align: center;
  margin: 0;
}

.ControlBar form {
  display: flex;
  justify-content: space-around;
}

#username-input {
  margin-left: 10px;
  min-width: 180px;
}

#partner-select {
  margin-left: 10px;
  width: 160px;
}
.Conversations {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.ChatWindow {
  margin-top: 20px;
  flex: 0 1 48%;
  border: 1px solid black;
  border-radius: 4px;
}

.chat-header {
  display: flex;
  justify-content: space-between;
}

.chat-header h2 {
  margin: 0;
}

.chat-header button {
  width: 28px;
}

.chat-body {
  border-top: 1px solid black;
  height: 200px;
}

.chat-header, .chat-body, .chat-input {
  /* border: 1px solid black; */
  padding: 0 10px;
}

.chat-input {
  border-top: 1px solid black;
}

.chat-input input {
  width: 95%;
  margin: 5px;
}

.ControlBar {
  outline: 1px solid black;
  padding: 5px 10px;
}

